<form action="{{ url_for('add')}}" method="post"> 
    <h5>Enter the book Details</h5>
    <div class="form-group">
        <input class="form-control" type="text" name="var_val" placeholder="Var Val">
    </div>
    <div class="form-group">
        <input class="form-control" type="text" name="env_var_id" placeholder="Env Var ID">
    </div>
    <div class="form-group">
        <input class="form-control" type="text" name="shelf_id" placeholder="Shelf ID">
    </div>
    <div class="form-group">
        <input class="form-control" type="text" name="sensor_id" placeholder="Sensor ID">
    </div>
    <div class="form-group">
        <input class="form-control" type="text" name="arduino_id" placeholder="Arduino ID">
    </div>
    <div class="form-group">
        <button class="btn btn-primary">Submit</button>
    </div>
    </form>